body{
    background-color: antiquewhite;

}

.flex-item{
 background-color: red;
margin-right:1% ;
margin-top: 20%;
padding: 2%;
justify-content: center;
}

.flex-container{
    height: 500%;
    display: flex;
    justify-content: center;
}


